{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}

<div class = 'mix_one_back_ground'>
    <div class = 'subtitle'>
        <h1>Mix</h1>
    </div>
    <div class='tri'>
    </div>
    <div class = 'all'>
        <div class = 'left'>
            <div class='container'>
                <div class='single'>
                    <img src="{{ me_re }}" alt=""> 
                </div>
                <div class='single'>
                    <img src="{{ me_no }}" alt=""> 
                </div>
            </div>
            <div class='container'>
                <div class='single'>
                    <img src="{{ me_7 }}" alt=""> 
                </div>
                <div class='single'>
                    <img src="{{ me_5 }}" alt=""> 
                </div>
                <div class='single'>
                    <img src="{{ me_3 }}" alt=""> 
                </div>
            </div>
        </div>
        <div class = 'right'>
        </div>
    </div>
</div>

{% endblock %}