{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}

<h1>Mix</h1>
<div class='container'>
    <div>
        <img src="{{ me }}" alt=""> 
    </div>
</div>
<div class='container'>
    <div>
        <img src="{{ me_1 }}" alt=""> 
    </div>
    <div>
        <img src="{{ me_2 }}" alt=""> 
    </div>
    <div>
        <img src="{{ me_3 }}" alt=""> 
    </div>
</div>
<div class='container'>
    <div>
        <img src="{{ me_no_1 }}" alt=""> 
    </div>
    <div>
        <img src="{{ me_no_2 }}" alt=""> 
    </div>
    <div>
        <img src="{{ me_no_3 }}" alt=""> 
    </div>
</div>

{% endblock %}